.item-descricao {
    font-size: 14px;
    color: #6c757d;
}
.valor-detalhes {
    font-weight: bold;
    color: #198754;
}
.total-final {
    font-size: 20px;
    font-weight: bold;
    color: #dc3545;
}
