.fundoMenu {
    background-color: #ffa500b3;  /**#FFA500**/
}

.btnMenuConf>li>a {
    color: #025428;  /**#025428 verde logo, #b9030e vermelho logo**/
    font-size: 20px;
    font-family: "Arial Black";

}

.btnMenuConf>li>a:hover {
    color: #b9030e;
}

